<?xml version="1.0"?>
<launch>

  <arg name="record_bag" default="true"/>
  <arg name="bag_prefix" default="leo_teleop"/>

  <group if="$(arg record_bag)">
    <node pkg="rosbag"
          type="record"
          name="record_leo_tests"
          output="screen"
          args="-o $(arg bag_prefix) /imu/data /controllers/diff_drive/odom /controllers/diff_drive/cmd_vel"/>
  </group>

</launch>
