<?xml version="1.0"?>
<launch>

  <arg name="record_bag" default="true"/>
  <arg name="bag_prefix" default="leo_teleop_test"/>

  <group if="$(arg record_bag)">
    <node pkg="rosbag"
          type="record"
          name="record_leo_tests"
          output="screen"
          args="-o $(arg bag_prefix) /joint_states /sbg_out_Imu /vrpn_client_node/LeoRover/pose /wheel_odom /move_base_simple/goal /cmd_vel"/>
  </group>

</launch>
